body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }

  .left-box {
    flex: 1;
    flex-direction: column;
    display: flex;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .left-top {
    flex: 2;
    background-color: #ccc;
    margin: 10px 0;
    padding: 10px;
  }

  .left-bottom {
    flex: 5;
    background-color: #9c5656;
    margin: 10px 0;
    padding: 10px;
  }
  .middle-box {
    flex: 5;
    flex-direction: column;
    display: flex;
    margin: 20px;
    padding: 20px;
  }
  
  .middle-top {
    flex: 2;
    flex-direction: row;
    display: flex; 
    background-color: #ccc; 
    margin: 10px 0;
    padding: 10px;
  }
  
  .middle-top-left {
    flex: 2; 
    background-color: #8f6060; 
    margin: 10px 0;
    padding: 10px;
  }

  .middle-top-center {
    flex: 5; 
    background-color: #ca2525; 
    margin: 10px 0;
    padding: 10px;
  }
  
  .middle-top-right {
    flex: 2; 
    background-color: #863535; 
    margin: 10px 0;
    padding: 10px;
  }

  .middle-bottom {
    flex: 1;
    background-color: #f2f2f2;  
    margin: 10px 0;
    padding: 10px;
  }
  
