body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #012340;
  text-align: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left-box {
  flex: 1;
  flex-direction: column;
  display: flex;
  background-color: #A3CCAB;
  padding: 10px 20px 20px 20px;
}

.left-inside {
  flex: 2;
  background-color:#DEEFE7;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.middle-box {
  flex: 5;
  display: flex;
  flex-direction: column; /* Adicionado para definir a direção como coluna */
  padding: 0px 10px 0;
  height: 100%; /* Adicionado para ocupar toda a altura */
}


.middle-inside {
  flex: 2;
  flex-direction: row;
  display: flex; 
  background-color: #A3CCAB; 
  margin: 10px 0;
  padding: 10px;
} 

.modal {
  display: none;
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  background-color: #DEEFE7;
  position: absolute;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 59%;
  transform: translate(-50%, -50%); 
}

.login-modal-content {
  margin: 0;
  padding: 0px 30px 30px 50px;
}

#login-box {
  background-color: white;
  width: 180px;
  height: 10px;
}

#instructions-modal h1 {
  text-align: center; 
} 

.h2 {
  font-size: 18pt;
  font-weight: bold;
}
#settings-modal h1 {
  text-align: center;
} 

.left-buttons {
  background-color: #025939;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.left-buttons:hover {
  background-color: #34675C;
}

.close-button {
  position: absolute;
  top: 5px; 
  right: 20px; 
  color: #012340; 
  font-size: 25px;
  font-weight: bold;
  border: 0px;
  background-color: transparent; 
}

.close-button:hover {
  color: #A3CCAB;
}

.instructions-scroll {
  max-height: 95%; 
  overflow: auto; 
}

label {
  display: block; 
  margin-top: 20px;
}

select {
  display: block;
  margin: 0 auto;
  width: 90%; 
  padding: 5px 5px 5px 5px;
  margin-top: 5px; 
  text-align: center;
}

#default-button {
  display: block; 
  margin: 0 auto; 
  background-color: #025939;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px; 
}

#default-button:hover {
  background-color: #34675C;
}

.cell {
  width: 90px; 
  height: 90px; 
  font-family: sans-serif;
  font-size: 30px; 
  text-align: center;
  color: black;
  cursor: pointer;
  border: 1px solid #025939;
  background-color: #DEEFE7;
  position: relative;
}

.cell img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#board {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%; /* Ajuste a largura para preencher o espaço disponível */
  height: 70%; /* Ajuste a altura para preencher o espaço disponível */
}

.pieces-container {
  display: flex;
  justify-content: center;
}

